<div class="container">
    <div class="row text-center">
        <h2>My Watch List</h2>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <th>Thumbnail</th>
                <th>Movie Title</th>
                <th>Release Date</th>
                <th>Genre</th>
            	<th>Description</th>
            	<th colspan=2>Actions</th>
            </thead>
            <tbody>
                <% x=0 %>
                <% Movie.joins(:watchlists).where(["user_id LIKE ?",current_user.id]).each do |movie| %>
                    <% rr = movie.watchlists.where(["user_id LIKE ?", current_user.id]).each do |rrr| %>
                        <% x = rrr %>
                    <% end %>
                    <tr>
                      <td><%= image_tag movie.poster.url(:thumb) %></td>
                	  <td><%= movie.title %></td>
                      <td><%= movie.rdate %></td>
                	  <td><%= movie.genre %></td>
                	  <td><%= movie.description %></td>
                	  <td><%= link_to 'Show Details', movie_path(movie), html_options={class:"btn btn-info btn-xl"} %></td>
                      <td><%= link_to 'Remove', user_watchlist_path(:id => x.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xl mbtn" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>