<div class="container">
    <!-- /.row -->
    <div class="row">
        <% if admin_signed_in? %>
            <div class="col-md-2">
                <%= link_to 'Back to Movie List', movies_path, class:"btn btn-default" %>
            </div>
            <div class="col-md-2">
                <%= link_to 'Edit', edit_movie_path(@movie), class:"btn btn-warning btn-default" %>
            </div>
        <% end %>
    </div>
    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= @movie.title %>
                <small><%= @movie.rdate.to_formatted_s(:long_ordinal) %></small>
            </h1>
        </div>
    </div>
    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-7">
            <!--%= image_tag("1.jpg", size: "500X500", alt: @movie.title, class:"img-responsive") %-->
            <%= image_tag @movie.poster.url(), alt: @movie.title, class:"img-responsive mPoster" %>
        </div>
        <div class="col-md-5">
            <h3>Movie Genres</h3>
            <p><%= @movie.genre %></p>
            <h3>Movie Description</h3>
            <p><%= @movie.description %></p>
            <h3>Movie Cast</h3>
            <ul>
                <li>Directed by : <%= @movie.dname %></li>
                <li>Lead Actor(s): <%= @movie.actor1 %></li>
                <li>Supporting Actor(s): <%= @movie.actor2 %></li>
                <!--li>Consectetur</li>
                <li>Adipiscing Elit</li-->
            </ul>
            <h3>Owl Ratings</h3>
            <h4>
                <% if @movie.reviews.count==0 %>
                    -
                <% else %>
                    <%= @movie.mratings %>
                <% end %>
                    / 5.0
            </h4>
            <h3>Total Ratings</h3>
            <h4><%= @movie.reviews.count %></h4>
            <% if !admin_signed_in? && user_signed_in? %>
                <% wl = current_user.watchlists.exists?(['user_id LIKE ? and movie_id LIKE ?', "%#{current_user.id}%", "%#{@movie.id}%"]) %>
                <% if wl %>
                    <p class="text-info">You have already added this movie into your watchlist.</p>
                <% else %>
                    <%= button_to '+ Watch List', user_watchlists_path(:user_id => current_user.id, :movie_id => @movie.id), method: :post, class:"btn-primary btn-lg" %>
                <% end %>
            <% end %>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Reviews</h3>
        </div>
        <% flag=true %>
        <% if user_signed_in? %>
            <% @movie.reviews.each do |review| %>
                <% if review.user_email==current_user.email %>
                    <p class="text-info">Thank you for your time to review this movie! You are awesome!</p>
                    <% flag=false %>
                <% end %>
            <% end %>
            <% if flag %>
                <%= render 'reviews/form' %>
            <% end %>
        <% end %>
        <% if @movie.reviews.count==0 %>
            <h3 class="text-info">Be the 1st owl to hoot about this movie.</h3>
        <% else %>
            <h4>Total Reviews : <%= @movie.reviews.count %></h4>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Hooter</th>
                  <th>Ratings</th>
                  <th>Review</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                  <% @movie.reviews.first(@movie.reviews.count).each do |review| %>
                    <%= render review %>
                  <% end %>
              </tbody>
            </table>
        <% end %>
    </div>
</div>