
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-2">
            <p class="lead">Category Search</p>
            <div class="list-group">
                <!--a href="#" class="list-group-item">Category 1</a-->
                <%= button_to 'All Movies', movies_search_path, method: :get, class:"list-group-item btn-lg btn-block" %>
                <%= button_to 'Action', movies_search_path, name: "search",value: "action", method: :get, class:"list-group-item btn-lg btn-block" %>
                <%= button_to 'Romance', movies_search_path, name: "search",value: "romance", method: :get, class:"list-group-item btn-lg btn-block" %>
                <%= button_to 'Horror', movies_search_path, name: "search",value: "horror", method: :get, class:"list-group-item btn-lg btn-block" %>
                <%= button_to 'Animation', movies_search_path, name: "search",value: "animation", method: :get, class:"list-group-item btn-lg btn-block" %>
                <%= button_to 'Drama', movies_search_path, name: "search",value: "drama", method: :get, class:"list-group-item btn-lg btn-block" %>
            </div>
        </div>
        <div class="col-md-10">
            <h3>Upcoming Movies...</h3>
        </div>
        <div class="col-md-10">
            
            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!--ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol-->
                        <div class="carousel-inner">
                            <div class="item active">
                                <%= link_to "https://www.youtube.com/watch?v=FkTybqcX-Yo", target:"_blank" do %>
                                    <%= image_tag("civilwar.png", class:"slide-image") %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to "https://www.youtube.com/watch?v=1U2DKKqxHgE", target:"_blank" do %>
                                    <%= image_tag("angrybirds.jpg", class:"slide-image") %>
                                <% end %>
                            </div>
                            <div class="item">
                                <%= link_to "https://www.youtube.com/watch?v=qr_nGAbFkmk", target:"_blank" do %>
                                    <%= image_tag("money.jpg", class:"slide-image") %>
                                <% end %>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-10">
                <h3>Latest Movies...</h3>
            </div>
            <div class="row">
                <% @latests.each do |latest|  %>
                    <!--% latest.mratings = latest.reviews.group(:movie_id).average(:ratings) %-->
                    <% x = latest.reviews.average(:ratings) %>
                    <div class="col-sm-4 col-lg-4 col-md-4 latest">
                        <div class="thumbnail">
                            <%= image_tag latest.poster.url(:medium) %>
                            <div class="caption">
                                <%= link_to "<span class='text-lead'>#{latest.title}</span>".html_safe, movie_path(latest), html_options={class:"btn btn-link"} %>
                                <p>Released on: <%= latest.rdate.to_formatted_s(:long_ordinal) %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"><%= latest.reviews.count %> reviews</p>
                                <p>
                                    <% (1..(x.to_i)).each do |i| %>
                                        <span class="glyphicon glyphicon-star"></span>
                                    <% end %>
                                    <% (1..(5-x.to_i)).each do |i| %>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>